<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="csrf_token" th:content="${_csrf.token}">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-light h-100">
<!-- BEGIN: NAVBAR  -->
<nav class="navbar p-2 fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">
            <span class="fw-bold text-info" th:text="${currentUser.getEmail}">
                field@for.email
            </span>
            <span class="" th:text="' with roles: '+${currentUser.getInlineRoles}">
                with roles: ROLE_1 ROLE_2
            </span>
        </span>
        <a class="btn btn-outline-danger" role="button" href="/logout">Logout</a>
    </div>
</nav>
<!-- END: NAVBAR  -->

<!-- BEGIN: Main page container -->
<div class="container-fluid bg-light pb-3 pt-4 h-100">
    <div class="row h-100">
        <!-- BEGIN: Interface selectors column -->
            <div class="col-2 bg-white pt-5">
                <!-- BEGIN: Interface Selectors (Admin, User) -->
                    <div class="d-flex flex-column">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                            <a class="nav-link active p-3" id="v-pills-admin-tab" data-bs-toggle="pill" href="#" data-bs-target="#v-pills-admin"
                               role="tab" aria-controls="v-pills-admin" aria-selected="true" type="button">
                               Admin
                            </a>
                            <a class="nav-link mt-1 p-3" id="v-pills-user-tab" data-bs-toggle="pill" href="#" data-bs-target="#v-pills-user" 
                               role="tab" aria-controls="v-pills-user" aria-selected="false" type="button">
                               User
                            </a>

                        </div>
                    </div>
                <!-- END: Interface Selectors (Admin, User) -->
            </div>
        <!-- END: Interface selectors column -->

        <!-- BEGIN: Interfaces -->
        <div class="col p-5 tab-content" id="v-pills-tabContent">
            <!-- BEGIN: Administrator interface-->
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab" tabindex="0">
                    <!-- BEGIN: Admins panel header -->
                <div class="">
                    <h1 class="m-0 mb-5">Admin panel</h1>
                </div>
                <!-- END: Admins panel header -->
                <!-- BEGIN: Admins Tabs-->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#all-users-pane"
                                type="button" role="tab" aria-controls="all-users-pane" aria-selected="true">User's table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="new-user-tab" data-bs-toggle="tab" data-bs-target="#new-user-pane"
                                type="button" role="tab" aria-controls="new-user-pane" aria-selected="false">New user
                        </button>
                    </li>
                </ul>
                <!-- END: Admins Tabs-->

                <!-- BEGIN: Tab content -->
                <div class="tab-content bg-white border-top-0 border" id="myTabContent">
                    <!-- BEGIN: All users tab -->
                    <div class="tab-pane fade show active" id="all-users-pane" role="tabpanel" aria-labelledby="all-users"
                        tabindex="0">
                        <div class="p-3 bg-light border-bottom">
                            <h4>All users</h4>
                        </div>
                        <div class="p-3 bg-white">
                            <table class="table table-striped" id="usersTable">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col" class="text-center">Edit</th>
                                    <th scope="col" class="text-center">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="user : ${userList}">
                                    <tr>
                                        <th scope="row" th:text="${user.getId()}"
                                            class="align-middle font-weight-bold"></th>
                                        <td th:text="${user.getName()}" class="align-middle"></td>
                                        <td th:text="${user.getLastname()}" class="align-middle"></td>
                                        <td th:text="${user.getAge()}" class="align-middle"></td>
                                        <td th:text="${user.getEmail()}" class="align-middle"></td>
                                        <td th:text="${user.getInlineRoles()}" class="align-middle"></td>
                                        <td class="text-center">
                                            <button class="btn btn-primary"
                                                    th:data-id="${user.getId()}"
                                                    data-bs-toggle="modal" data-bs-target="#editModal">Edit
                                            </button>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-danger"
                                                    th:data-id="${user.getId()}"
                                                    data-bs-toggle="modal" data-bs-target="#deleteModal">Delete
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END: All users tab -->

                    <!-- BEGIN: Create new user tab -->
                    <div class="tab-pane fade show" id="new-user-pane" role="tabpanel" aria-labelledby="new-user"
                        tabindex="0">
                        <div class="p-3 bg-light border-bottom">
                            <h4>Add new user</h4>
                        </div>
                        <div class="bg-white row p-0 m-0 text-center justify-content-center">
                            <form class="p-3 col-4" action="" method="POST" id="createUserForm">
                                <input type="hidden" name="_method" value="POST">
                                <div class="">
                                    <div class="p-1">
                                        <label for="createName" class="form-label fw-bold">First name</label>
                                        <input type="text" name="createName" id="createName" 
                                                class="form-control"
                                                placeholder="Name">

                                    </div>

                                    <div class="p-1">
                                        <label for="createLastName" class="form-label fw-bold">Last name</label>
                                        <input type="text" name="createLastName" id="createLastName"
                                            class="form-control"
                                            placeholder="Lastname">

                                    </div>

                                    <div class="p-1">
                                        <label for="createAge" class="form-label fw-bold">Age</label>
                                        <input type="number" name="createAge" id="createAge" 
                                                class="form-control"
                                                placeholder="Age" min="14" max="127">
                                    </div>

                                    <div class="p-1">
                                        <label for="createEmail" class="form-label fw-bold">Email</label>
                                        <input type="email" name="createEmail" id="createEmail" class="form-control"
                                            placeholder="Email">
                                    </div>

                                    <div class="p-1">
                                        <label for="createPassword" class="form-label fw-bold">Password</label>
                                        <input type="password" name="createPassword" id="createPassword"
                                            class="form-control" placeholder="Password">
                                    </div>

                                    <div class="p-1">
                                        <label for="createRole" class="form-label fw-bold">Role</label>
                                        <select multiple="multiple" name="createRole" id="createRole" class="form-control" size="2">
                                            <option th:each="role : ${roles}"
                                                    th:value="${role.getId()}"
                                                    th:data-role="${role.getName()}"
                                                    th:text="${role}"></option>
                                        </select>
                                    </div>

                                    <div class="p-1 pt-2">
                                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                        <button type="submit" class="btn btn-success" id="createUserButton">Add new user</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- NEW: Create new user tab -->

                </div>
                <!-- END: Tab content -->
                </div>
            <!-- END: Administrator interface-->
            <!-- BEGIN: User interface-->
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab" tabindex="0">
                    <div class="mb-5">
                        <h1>User information-page</h1>
                    </div>
                    <div class="border rounded">
                        <div class=" p-3 bg-light border-bottom">
                            <h4 class="m-0">About user</h4>
                        </div>
                        <div class="p-3 bg-white">
                            <table class="table table-striped m-0">
                                <thead class="">
                                    <tr class="">
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                        
                                    <tr>
                                        <td scope="row" th:text="${currentUser.getId}" class="align-middle pt-3 pb-3"></td>
                                        <td th:text="${currentUser.getName}" class="align-middle"></td>
                                        <td th:text="${currentUser.getLastname}" class="align-middle"></td>
                                        <td th:text="${currentUser.getAge}" class="align-middle"></td>
                                        <td th:text="${currentUser.getEmail}" class="align-middle"></td>
                                        <td th:text="${currentUser.getInlineRoles}" class="align-middle"></td>
                                    </tr>
                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <!-- END: User interface-->
        </div>
        <!-- END: Interfaces -->

    </div>
</div>
<!-- END: Main page container -->

<!-- BEGIN: Edit modal window-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit user</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form method="PUT" id="editForm">
                    <div class="modal-body">
                        <div class="row p-3 m-0 text-center justify-content-center">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="">
                                    <div class="p-1">
                                        <label for="editId" class="form-label fw-bold">ID</label>
                                        <input type="number" name="editId" id="editId" class="form-control" placeholder="ID" disabled>
                                    </div>
                                    <div class="p-1">
                                        <label for="editName" class="form-label fw-bold">Fitst name</label>
                                        <input type="text" name="editName" id="editName" class="form-control" placeholder="Name">
                                    </div>

                                    <div class="p-1">
                                        <label for="editLastName" class="form-label fw-bold">Last name</label>
                                        <input type="text" name="editLastName" id="editLastName" class="form-control" placeholder="Lastname">
                                    </div>

                                    <div class="p-1">
                                        <label for="editAge" class="form-label fw-bold">Age</label>
                                        <input type="number" name="editAge" id="editAge" class="form-control" placeholder="Age" min="14" max="127">
                                    </div>

                                    <div class="p-1">
                                        <label for="editEmail" class="form-label fw-bold">Email</label>
                                        <input type="email" name="editEmail" id="editEmail" class="form-control" placeholder="Email">
                                    </div>

                                    <div class="p-1">
                                        <label for="editPassword" class="form-label fw-bold">Password</label>
                                        <input type="password" name="editPassword" id="editPassword" class="form-control" placeholder="Password">
                                    </div>

                                    <div class="p-1">
                                        <label for="editRole" class="form-label fw-bold">Role</label>
                                        <select multiple="multiple" class="form-control" size="2" name="editRole" id="editRole">
                                            <option th:each="role : ${roles}"
                                                    th:value="${role.getId()}"
                                                    th:text="${role}"></option>
                                        </select>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="editButtonSubmit">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- END: Edit modal window-->

<!-- BEGIN: Delete modal window-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete user</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form  method="DELETE" id="deleteForm">
                    <div class="modal-body">
                        <div class="row p-3 m-0 text-center justify-content-center">
                                <input type="hidden" name="_method" value="DELETE">
                                <div class="">
                                    <div class="p-1">
                                        <label for="deleteId" class="form-label fw-bold">ID</label>
                                        <input type="number" name="deleteId" id="deleteId" class="form-control" placeholder="ID" disabled>
                                    </div>
                                    <div class="p-1">
                                        <label for="deleteName" class="form-label fw-bold">First name</label>
                                        <input type="text" name="deleteName" id="deleteName" class="form-control" placeholder="Name" disabled>
                                    </div>

                                    <div class="p-1">
                                        <label for="deleteLastName" class="form-label fw-bold">Last name</label>
                                        <input type="text" name="deleteLastName" id="deleteLastName" class="form-control" placeholder="Lastname" disabled>
                                    </div>

                                    <div class="p-1">
                                        <label for="deleteAge" class="form-label fw-bold">Age</label>
                                        <input type="number" name="deleteAge" id="deleteAge" class="form-control" placeholder="Age" min="14" max="127" disabled>
                                    </div>

                                    <div class="p-1">
                                        <label for="deleteEmail" class="form-label fw-bold">Email</label>
                                        <input type="email" name="deleteEmail" id="deleteEmail" class="form-control" placeholder="Email" disabled>
                                    </div>

                                    <div class="p-1">
                                        <label for="deleteRole" class="form-label fw-bold">Role</label>
                                        <select multiple="multiple" class="form-control" size="2" name="deleteRole" id="deleteRole" disabled>
                                            <option th:each="role : ${roles}"
                                                    th:value="${role.getId()}"
                                                    th:text="${role}"></option>
                                        </select>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" id="deleteButtonSubmit">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- END: Delete modal window-->

<!-- Bootstrap Scripts-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script th:src="@{/scripts/jquery-3.7.1.min.js}" type="text/javascript"></script>
<!--LiveReload-->
<script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
<script th:src="@{/scripts/main.js}" type="text/javascript"></script>
</body>
</html>