<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">
<!--  NAVBAR  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand mr-auto" href="#" th:text="${currentUser.getEmail}+' with roles: '+${currentUser.getRole}">field@for.email with roles: ROLE_1 ROLE_2</a>
        <a class="btn btn-outline-danger" role="button" href="/logout">Logout</a>
    </div>
</nav>
<div class="container bg-white pb-3 pt-3">
    <div class="row">
        <h3 class="m-1">All users</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col" class="text-center">Edit</th>
                <th scope="col" class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${userList}">
                <tr class="align-middle">
                    <td scope="row" th:text="${user.getId()}" class="align-middle font-weight-bold"></td>
                    <td th:text="${user.getName()}" class="align-middle"></td>
                    <td th:text="${user.getLastname()}" class="align-middle"></td>
                    <td th:text="${user.getAge()}" class="align-middle"></td>
                    <td th:text="${user.getEmail()}" class="align-middle"></td>
                    <td th:text="${user.getRole()}" class="align-middle"></td>
                    <td class="text-center">
                        <a class="btn btn-info" th:href="@{'admin/editUser?id=' + ${user.getId()}}"
                           role="button">Edit</a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-danger" th:href="@{'/api/users/delete?id=' + ${user.getId()}}" role="button">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-md-end ">
        <div class="col-md-auto">
            <a class="btn btn-outline-success" href="admin/createUser" role="button">Create User</a>
        </div>
    </div>
</div>
<!--LiveReload-->
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>