<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <h3>Add new user</h3>
    </div>
    <div class="row justify-content-md-center">
        <form action="/api/users/create" method="POST" th:object="${user}">
            <input type="hidden" name="_method" value="POST">


                <label for="name">Name</label>
                <input type="text" name="name" id="name" th:field="*{name}" class="form-control" placeholder="Name">
                <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                <label for="name">Lastname</label>
                <input type="text" name="last-name" id="last-name" th:field="*{lastname}" class="form-control" placeholder="Lastname">
                <p style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>


                <label for="age">Age</label>
                <input type="text" name="age" id="age" th:field="*{age}" class="form-control" placeholder="Age">
                <p style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>


                <label for="email">Email</label>
                <input type="email" name="email" id="email" th:field="*{email}" class="form-control" placeholder="Email">
                <p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>


                <label for="password">Password</label>
                <input type="password" name="password" id="password" th:value="*{password}" class="form-control" placeholder="Password">
                <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>


                <label for="role">Role</label>
                <select multiple="multiple" th:field="*{role}" class="form-control" size="2">
                    <option th:each="role : ${roles}"
                            th:value="${role.getId()}"
                            th:text="${role.getName()}"
                            th:selected="${user.role != null}? ${user.role.contains(role)}"></option>
                </select>
                <p style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></p>

                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-success">Add new user</button>

        </form>
    </div>
</div>
</body>
</html>