<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <h3>About user</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
        <th:block th:object="${user}">
            <tr>
                <td scope="row" th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{lastname}"></td>
                <td th:text="*{age}"></td>
                <td th:text="*{email}"></td>
                <td th:text="*{role}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>