<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand mr-auto" href="#" th:text="${currentUser.getEmail}+' with roles: '+${currentUser.getRole}">field@for.email with roles: ROLE_1 ROLE_2</a>
        <a class="btn btn-outline-danger" role="button" href="/logout">Logout</a>
    </div>
</nav>
<div class="container bg-white pb-3 pt-3">
    <h3>About user</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>

        <tr>
            <td scope="row" th:text="${currentUser.getId}"></td>
            <td th:text="${currentUser.getName}"></td>
            <td th:text="${currentUser.getLastname}"></td>
            <td th:text="${currentUser.getAge}"></td>
            <td th:text="${currentUser.getEmail}"></td>
            <td th:text="${currentUser.getRole}"></td>
        </tr>

        </tbody>
    </table>
</div>
<!--LiveReload-->
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>