<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1 th:text="User_+${user.getId()}"></h1>
<form th:action="@{/api/users/update/{id}(id = ${user.getId()})}" th:method="POST" th:object="${user}">
    <input type="hidden" name="_method" value="POST">
    <table>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" name="name" id="name" th:field="*{name} "></td>
            <td style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <td><label for="name">Lastname</label></td>
            <td><input type="text" name="last-name" id="last-name" th:field="*{lastname}"></td>
            <td style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="email" name="email" id="email" th:field="*{email}"></td>
            <td style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>